<a href="https://colab.research.google.com/github/priyeshr7/Data-Science/blob/main/pandas_syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Learning Pandas Library
Using Google colab just because my chrome was opened , haha

In [4]:
import numpy as np
import pandas as pd

In [28]:
#string
friends=['Manan','Lokesh','Rishav']
(type(friends))

list

In [23]:
runs=[45,32,34,56,77,90]

list

In [7]:
# Custom indexing
games=['football','cricket','drag race','tennis','golf']
points=[5,4,5,3,4]
pd.Series(points,index=games)

football     5
cricket      4
drag race    5
tennis       3
golf         4
dtype: int64

In [8]:
pd.Series(points,index=games,name='sports pointtable')

football     5
cricket      4
drag race    5
tennis       3
golf         4
Name: sports pointtable, dtype: int64

In [49]:
points={'football':5,'cricket':4,'drag race':5,'tennis':3,'golf':4}
points_series=pd.Series(points,name='points table')
points_series

football     5
cricket      4
drag race    5
tennis       3
golf         4
Name: points table, dtype: int64

# Series Attribute

In [10]:
points_series.size

5

In [11]:
points_series.dtype

dtype('int64')

In [12]:
points_series.name

'points table'

In [13]:
# returns TRUE - if values are unique , else FALSE
points_series.is_unique

False

In [14]:
points_series.index

Index(['football', 'cricket', 'drag race', 'tennis', 'golf'], dtype='object')

In [15]:
points_series.values

array([5, 4, 5, 3, 4])

In [29]:
type(points_series.values)

NameError: name 'dtype' is not defined

In [30]:
data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]}
example = pd.DataFrame(data)
example

   col1  col2
0     1     4
1     2     5
2     3     6

In [31]:
example.at

In [32]:
example.iat

In [33]:
example.loc

In [48]:
# df.loc  - access a group of rows and column by labels
example.loc[1,0]

KeyError: 0

In [43]:
# access group of rows ad columns by integer position
example.iloc

In [47]:
example.iloc[1,0]

2

In [63]:
points_series.at(0, 'football')

TypeError: '_AtIndexer' object is not callable

In [56]:
points_series.iat(1)

TypeError: '_iAtIndexer' object is not callable

In [60]:
points_series.iloc[0]

5

In [65]:
points_series.T

football     5
cricket      4
drag race    5
tennis       3
golf         4
Name: points table, dtype: int64

In [66]:
points_series.array

<NumpyExtensionArray>
[5, 4, 5, 3, 4]
Length: 5, dtype: int64

In [67]:
points_series.to_numpy

<bound method IndexOpsMixin.to_numpy of football     5
cricket      4
drag race    5
tennis       3
golf         4
Name: points table, dtype: int64>

In [68]:
points_series

football     5
cricket      4
drag race    5
tennis       3
golf         4
Name: points table, dtype: int64

In [69]:
points_series.attrs

{}

In [70]:
points_series.axes

[Index(['football', 'cricket', 'drag race', 'tennis', 'golf'], dtype='object')]

In [71]:
points_series.dtypes

dtype('int64')

In [72]:
points_series.dtype

dtype('int64')

In [73]:
points_series.empty

False

In [74]:
points_series.flags

In [75]:
points_series.is_unique

False

In [76]:
points_series.loc

In [77]:
points_series.name

'points table'

In [78]:
points_series.nbytes

40

In [79]:
points_series.ndim

1

In [1]:
example.abs

NameError: name 'example' is not defined